@model IEnumerable<Assignment_3_ASP.NET_MVC_CRUD.Models.tb_user>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.u_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.u_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.u_phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.u_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.u_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.u_phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.u_ic }) |
            @Html.ActionLink("Details", "Details", new { id=item.u_ic }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.u_ic })
        </td>
    </tr>
}

</table>
