@model Assignment_3_ASP.NET_MVC_CRUD.Models.tb_booking

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tb_booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.b_bdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_bdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.b_rdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_rdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.b_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.b_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_vehicle.v_model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_vehicle.v_model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_user.u_pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_user.u_pass)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
