@model Assignment_3_ASP.NET_MVC_CRUD.Models.tb_booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.b_bdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_bdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.b_rdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_rdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.b_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.b_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_vehicle.v_model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_vehicle.v_model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_user.u_pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_user.u_pass)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.b_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
